

@-webkit-keyframes bluePulse {
  from { stroke: rgb(0,0,255) ; }
  50% { stroke: rgb(180,180,180) ; }
  to { stroke: rgb(0,0,255) ;}
}

.selectable {
	cursor:move;
}

.selected {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
}
